/// grid and gutter size between
/// elements
$grid-size: 1200px;
$gutter-size: 10px;

/// breakpoints for responsive design
$breakpoint-phone: 0;
$breakpoint-tablet: 480;
$breakpoint-desktop: 720;

$border-small: 2px;
$border-medium: 4px;
$border-large: 8px;

